@import '../global/constants.css';

.step {
    cursor: pointer;

    .content-wrapper {
        min-height: 60px;
        min-width: 100px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .progress-bar {
        background: blue;
        height: 2px;
        width: 0px;
    }

    &--active {
        .progress-bar {
            width: 50%;
        }
    }

    &--past {
        .progress-bar {
            width: 100%;
        }
    }

    ::after {
        border-style: solid;
        border-width: 0.1em 0.1em 0 0;
        border-color: $color-disabled;
        content: '';
        display: inline-block;
        height: 0.45em;
        position: relative;
        top: 0.15em;
        transform: rotate(-45deg);
        vertical-align: top;
        width: 0.45em;
        transform: rotate(45deg);
        left: 10px;
    }
}
