@import '../global/constants.css';

.step {
    cursor: pointer;
    min-height: 60px;
    color: $color-text;

    .content-wrapper {
        min-height: 60px;
        padding: 0 20px;
        align-items: center;
        display: flex;
        justify-content: center;
        white-space: nowrap;
    }

    .progress-bar {
        height: 2px;
        background: $color-disabled;
        width: 100%;

        &-fill {
            height: 2px;
            background: $color-accent;
            width: 0px;
        }
    }

    &--active {
        color: $color-accent;

        .progress-bar {
            &-fill {
                background: $color-accent;
                height: 2px;
                width: 50%;
            }
        }
    }

    &--past {
        color: $color-text;

        .progress-bar {
            &-fill {
                width: 100%;
            }
        }
    }

    &--disabled {
        color: $color-disabled;
    }

    &::after {
        border-style: solid;
        border-width: 0.1em 0.1em 0 0;
        border-color: $color-disabled;
        content: '';
        display: inline-block;
        height: 0.45em;
        position: relative;
        transform: rotate(-45deg);
        vertical-align: top;
        width: 0.45em;
        transform: rotate(45deg);
        top: calc(-50% + 5px);
        left: -5px;
    }

    &:first-child {
        &::after {
            display: none;
        }
    }
}
