.stepper {
    border: 1px solid #eee;
    border-radius: 3;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 15;
    padding: 3px 10px;
    margin: 10;
    overflow: hidden;
    height: 56px;
    outline: 0;

    &-scrollable {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        outline: 0;
    }
}
